/* UI Components try to respect [BEM](http://getbem.com/naming/) for the naming of their CSS classes */
@import "./components/Ballot.css";

@import "../booth/components/PageHeader.css";
@import "../booth/components/PageFooter.css";
@import "../booth/components/NiceButton.css";

body {
  background: #e5e4e2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  line-height: initial;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", arial, serif;
}

@media screen and (max-width: 640px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 640px) {
  body {
    margin: 8px;
  }
}

input[type="password"],
input[type="text"] {
  font-size: 16px; /* this prevents Iphone browser from zooming in */
}

@supports (-webkit-touch-callout: none) {
  select {
    font-size: 16px; /* this prevents Iphone browser from zooming in */
  }
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.page-body {
  background: #fafafa;
}

.markup-b {
  font-weight: bold;
}
.markup-i {
  font-style: italic;
}
.markup-error {
  color: red;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(../../material-symbols.woff2) format("woff2");
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.ballots-container {
  padding: 20px;
}

.search-control-pattern {
  margin: auto;
  padding: 20px;
  width: fit-content;
}
.searchbox {
  padding: 10px 20px;
  margin: auto;
  width: fit-content;
}
.searchbox__label {
  margin-right: 10px;
}
.searchbox__input {
  min-width: 400px;
}
.ballot-count {
  padding: 20px 20px 0 20px;
  font-size: smaller;
}

.ballotbox__back-button-container {
  padding: 10px 0;
}
.ballotbox__back-button {
  margin: auto;
  display: block !important;
  width: fit-content;
}
