@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(../../material-symbols.woff2) format('woff2');
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
  

#main {
    border-radius: 0px 0px 0px 0px;
    padding: 10px;
}
ol {
    list-style: decimal;
}
ul {
    list-style: disc;
}
#wrapper {
    min-height: 0px;
    font-size: 16px;
}
#header {
    color: #ffffff;
    height: auto;
}
#footer #bottom {
    line-height: 3em;
}
#header a {
    color: #ffffff;
}
button {
    cursor: pointer;
}
.current_step {
    text-align: center;
    font-size: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
}
.hybrid_box {
    border-style: solid;
    border-width: 1px;
    background: #E5E5E5;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 80%;
    padding: 3px;
    line-height: 2.2ex;
}
.nh_explain {
    font-size: 90%;
    line-height: 2.2ex;
    font-style: italic;
}
.counting_method_specification {
    border: 1px groove;
    margin-bottom: 2ex;
}
.result_question_item {
  margin-bottom: 2ex;
}
.result_question {
    font-weight: bold;
    font-style: italic;
}
.result_jsquery {
    font-family: monospace;
    font-size: 90%;
    background-color: #EEEEEE;
}
.lang_box {
    float: right;
    text-align: right;
}
.embedded-login-form {
    margin: 2em;
}
.majority_judgment_result {
    margin: 1em;
    border: 1px solid;
    padding: 1em;
}
.schulze_result {
    margin: 1em;
    border: 1px solid;
    padding: 1em;
}
.schulze_result ol {
    margin-bottom: 1em;
}
.schulze_explanation {
    text-align: justify;
    margin-bottom: 1em;
    font-style: italic;
    font-size: 90%;
}
.majority_judgment_ranking {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tooltip .tooltiptext {
    visibility: hidden;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.clickable:hover, .clickable *:hover {
    cursor: pointer;
}

.cai-table-audit-summary {
    color: #0000EE;
    text-decoration-line: underline;
}
table.cai-table  {
    border-collapse: separate;
    border-spacing: 10px 3px;
    width: auto;
}
table.cai-table th,td  {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border: none;
}
.cai-table-audit-code  {
    text-align: center;
    width: 30px;
    border-radius: 6px;
}.cai-table-audit-code-symbol  {
    vertical-align: middle;
}
.cai-table-audit-code-a-0  {
    background: #FFECB3;
    font-variation-settings: "FILL" 0, "wght" 200;
}
.cai-table-audit-code-a-1  {
    background: #C8E6C9;
    font-variation-settings: "FILL" 1, "wght" 200;
}
.cai-table-audit-code-b-1  {
    background: #FFCDD2;
    font-variation-settings: "FILL" 0, "wght" 200;
}
.cai-table-audit-code-b-0  {
    background: #BBDEFB;
    font-variation-settings: "FILL" 1, "wght" 200;
}
.cai-table-audit-code-masked {
    background: #E0E0E0;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FAFAFA;
    text-align: center;
    border-top: 1px solid black;
}

.election-actions {
    margin: 42px;
}
.election-details {
    background: #F5F5F5;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 80%;
    line-height: 2.2ex;
    border-radius: 8px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}
.election-details h5 {
    font-size: 20px;
}
.election-details table {
    border-top: none;
    margin-bottom: 0;
}
.election-details td {
    border-bottom: none;
    padding: 4px;
}
.election-details tr:hover {
    background-color: #E0E0E0;
}
.election-details ul {
    padding-left: 1.2em;
}

.confirmation-subtitle {
    font-size: larger;
    margin-bottom: 0.2em;
}

.confirmation-card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    max-width: 700px;
    padding: 14px;
    border-radius: 8px;
}
.confirmation-details {
    background: #f5f5f5;
    margin: 10px auto;
}
.confirmation-details table {
    margin-bottom: 0;
    border: none;
}
.confirmation-check-email {
    margin: 15px auto;
    background-color: #BBDEFB;
}
.confirmation-check-email li {
    line-height: 1.4em;
}

.confirmation-button-goto-home {
    margin: 20px auto;
    width: fit-content;
}