@import "../../../ext/css/style.css";
@import "../../../ext/css/superfish.css";

/* UI Components try to respect [BEM](http://getbem.com/naming/) for the naming of their CSS classes */
@import "../../../frontend/booth/components/PageHeader.css";
@import "../../../frontend/booth/components/Progress.css";
@import "../../../frontend/booth/components/PageFooter.css";
@import "../../../frontend/booth/components/NiceButton.css";
@import "../../../frontend/booth/components/NiceInput.css";

@import "./common.css";

body {
  background: #E5E4E2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  line-height: initial;
}

@media screen and (max-width: 640px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 640px) {
  body {
    margin: 8px;
  }
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.page-body {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
}

.cookie-disclaimer {
  padding: 10px;
  margin: 10px;
}
