.nice-button {
  border: 0;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  line-height: initial;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.nice-button:hover {
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.nice-button:hover {
  cursor: pointer;
}
.nice-button[disabled]:hover {
  cursor: initial;
  background: initial;
}

.nice-button[disabled] {
  opacity: 0.5;
}

.nice-button--blue {
  background: #1976d2;
  color: #fafafa;
}
.nice-button--blue:hover {
  background: #1565c0;
}
.nice-button--blue:active {
  background: #0d47a1;
}
.nice-button--blue[disabled]:hover {
  background: initial;
}

.nice-button--white {
  background: #fafafa;
  color: #212121;
}
.nice-button--white:hover {
  background: #f5f5f5;
}
.nice-button--white:active {
  background: #eeeeee;
}
.nice-button--white[disabled]:hover {
  background: initial;
}

.nice-button--grey {
  background: #757575;
  color: #fafafa;
}
.nice-button--grey:hover {
  background: #616161;
}
.nice-button--grey:active {
  background: #424242;
}
.nice-button--grey[disabled]:hover {
  background: initial;
}

.nice-button--default {
  background: #bdbdbd;
  color: #212121;
}
.nice-button--default:hover {
  background: #9e9e9e;
}
.nice-button--default:active {
  background: #757575;
}
.nice-button--default[disabled]:hover {
  background: initial;
}
