.question-with-votable-answers {
  margin: 2px 10%;
}
@media screen and (max-width: 640px) {
  .question-with-votable-answers {
    margin: 2px 20px;
  }
}

.question-with-votable-answers--hidden {
  display: none;
}

.question-with-votable-answers__question-title {
  font-weight: 400;
  margin: 8px 0 3px 0;
}

.question-with-votable-answers__question-description {
  font-size: 12px;
  margin: 10px 0;
}

.question-with-votable-answers__alerts {
  color: red;
  font-size: 12px;
}
