.review-encrypt-section {
  padding: 0px 10% 30px 10%;
}

.review-encrypt-section__encryption-section {
  background: #e3f2fd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 40px auto 0 auto;
  max-width: 600px;
}

.review-encrypt-section__smart-ballot-tracker-container {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 2px;
}

.review-encrypt-section__smart-ballot-tracker {
  display: inline-block;
  word-break: break-all;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 14px;
  background: white;
  font-family: monospace;
  vertical-align: middle;
  font-size: 10px;
}

@media screen and (max-width: 640px) {
  .review-encrypt-section {
    padding: 0px 20px 30px 20px;
  }

  .review-encrypt-section__encryption-section {
    padding: 10px;
  }

  .review-encrypt-section__smart-ballot-tracker-container {
    margin-left: 10px;
  }
}
