.material-symbols-outlined {
  /* font-size: 20px !important ; */
  vertical-align: middle; /* this is added */
}

.cai-table-group {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  padding: 14px;
  margin: 10px auto;
  max-width: 950px;
  font-size: medium;
  box-sizing: border-box;
}
.cai-table-group * {
  box-sizing: inherit;
}

table.cai-table {
  border-collapse: separate;
  border-spacing: 0px 3px;
}
@media screen and (min-width: 640px) {
  table.cai-table {
    margin-left: 30px;
  }
}
table.cai-table tr:hover {
  background: #f7f7f7;
}

.cai-table-header {
  text-align: left;
  font-size: small;
  font-weight: bold;
  white-space: nowrap;
}

.cai-table-line-disabled {
  opacity: 0.5;
}
.cai-table-line-active {
  outline: 2px solid #424242;
  padding: 2px;
  border-radius: 6px;
}
.cai-table-line-inactive {
  outline: 2px solid transparent;
  padding: 2px;
  border-radius: 6px;
}

.cai-table-vote-option {
  background: #ffecb3;
  border-radius: 6px;
  padding-left: 6px;
}
.cai-table-vote-option-selected {
  background: #c8e6c9;
}
.cai-table-vote-option-hidden {
  background: #e0e0e0;
}
.cai-table-vote-option-hidden .cai-table-answer {
  visibility: hidden;
}
.cai-table-vote-option-hidden-hidden {
  background: #e0e0e0;
}
.cai-table-vote-option-hidden-hidden * {
  visibility: hidden;
}
.cai-table-vote-option-text {
  padding: 6px;
}
.cai-table-answer {
  padding: 3px 6px;
  text-align: right;
  font-variation-settings:
    "FILL" 0,
    "wght" 200;
}
.cai-table-answer-selected {
  font-variation-settings:
    "FILL" 1,
    "wght" 200;
}

.cai-table-check-group {
  padding-right: 6px;
  text-align: center;
}
.cai-table-check-group-disabled {
  display: none;
}
.cai-table-check-text {
  display: inline-block;
  margin: 6px;
  vertical-align: middle;
}
.cai-table-check-button {
  display: inline-block;
  border-radius: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 3px;
}
.cai-table-check-button-icon {
  font-variation-settings:
    "FILL" 0,
    "wght" 200,
    "opsz" 18;
  padding-left: 4px;
}
.cai-table-check-button-icon-yes {
  font-variation-settings:
    "FILL" 1,
    "wght" 200,
    "opsz" 18;
}
.cai-table-check-yes {
  background: #90caf9;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.cai-table-check-yes:hover {
  background: #42a5f5;
  cursor: pointer;
}
.cai-table-check-no {
  background: #ef9a9a;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.cai-table-check-no:hover {
  background: #ef5350;
  cursor: pointer;
}

.cai-table-check-mistake {
  color: #b71c1c;
  padding: 3px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}
.cai-table-check-button-mistake {
  outline: 2px solid #d32f2f;
  box-shadow: none;
}
.cai-table-check-message {
  padding: 6px;
  text-align: center;
}

.cai-table-col-audit-code {
  text-align: center;
}
.cai-table-audit-code {
  display: inline-block;
  text-align: center;
  width: 40px;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.cai-table-audit-code-a-0 {
  background: #ffecb3;
  font-variation-settings:
    "FILL" 0,
    "wght" 200;
}
.cai-table-audit-code-a-1 {
  background: #c8e6c9;
  font-variation-settings:
    "FILL" 1,
    "wght" 200;
}
.cai-table-audit-code-a-0-selectable {
  background: #ffe082;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.cai-table-audit-code-a-0-selectable:hover {
  background: #ffca28;
  cursor: pointer;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.cai-table-audit-code-a-1-selectable {
  background: #a5d6a7;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.cai-table-audit-code-a-1-selectable:hover {
  background: #66bb6a;
  cursor: pointer;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.cai-table-audit-code-b-1 {
  background: #ffcdd2;
  font-variation-settings:
    "FILL" 0,
    "wght" 200;
}
.cai-table-audit-code-b-0 {
  background: #bbdefb;
  font-variation-settings:
    "FILL" 1,
    "wght" 200;
}
.cai-table-audit-code-b-0-selectable {
  background: #90caf9;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.cai-table-audit-code-b-0-selectable:hover {
  background: #42a5f5;
  cursor: pointer;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.cai-table-audit-code-b-1-selectable {
  background: #ef9a9a;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.cai-table-audit-code-b-1-selectable:hover {
  background: #ef5350;
  cursor: pointer;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.cai-table-audit-code-selected {
  outline: 2px solid #000;
}

.cai-table-audit-code-not-selected-copyable {
  background: #e0e0e0;
}
.cai-table-audit-code-not-selected-copyable * {
  visibility: hidden;
}

.cai-table-save {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  background: #e3f2fd;
  border-radius: 8px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.cai-table-save-hidden {
  display: none;
}
.cai-table-save-text {
  width: 250px;
  margin: auto;
  text-align: center;
}
.cai-table-save-icon {
  display: block !important;
  font-size: 56px !important;
  width: 56px;
  margin: 0 auto;
}
.cai-table-save-button {
  margin: 6px auto;
  display: block;
}
