.select-audit-codes {
  padding: 0px 30px 30px 30px;
}

.select-audit-codes__instructions-todo {
  color: #757575;
}
.select-audit-codes__instructions-doing {
  color: #212121;
  font-weight: bold;
}
.select-audit-codes__instructions-done {
  color: #212121;
}

.select-audit-codes__info {
  border-radius: 6px;
  padding: 6px 10px 6px 6px;
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "opsz" 18;
  position: relative;
  width: fit-content;
  border: 1px solid #bdbdbd;
}
.select-audit-codes__info-icon {
  color: #616161;
  margin-right: 4px;
  font-size: larger !important;
}
.select-audit-codes__info-text {
  color: #616161;
  font-size: small;
}
.select-audit-codes__info .tooltip {
  visibility: hidden;
  font-size: small;
  font-weight: normal;
  width: 520px;
  text-align: left;
  border-radius: 6px;
  background-color: #eeeeee;
  padding: 6px;
  position: absolute;
  left: 110%;
  top: -15px;
  z-index: 1;
  border: 1px solid #bdbdbd;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
@media screen and (max-width: 800px) {
  .select-audit-codes__info .tooltip {
    left: -20px;
    top: 32px;
    width: 400px;
  }
}
.select-audit-codes__info:hover {
  border: 1px solid #9e9e9e;
}
.select-audit-codes__info:hover .select-audit-codes__info-icon {
  color: #424242;
}
.select-audit-codes__info:hover .select-audit-codes__info-text {
  color: #424242;
}
.select-audit-codes__info:hover .tooltip {
  visibility: visible;
}

.select-audit-codes__copied {
  font-size: smaller;
  text-align: center;
  margin-top: 3px;
}

.select-audit-codes__error-not-filled {
  color: #b71c1c;
  font-size: 12px;
  text-align: center;
}
