.whole-vote-recap {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  margin: 10px auto;
  max-width: 500px;
  font-size: smaller;
}

.majority-judgment-vote-recap,
.classic-vote-recap,
.preferential-voting-vote-recap {
  padding: 5px 10px 10px 10px;
  margin: 10px auto;
}

.majority-judgment-vote-recap:first-child,
.classic-vote-recap:first-child,
.preferential-voting-vote-recap:first-child {
  margin-top: 0;
}

.majority-judgment-vote-recap:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.preferential-voting-vote-recap__preference-level {
  border-radius: 6px;
  padding: 5px 10px;
  max-width: 425px;
  margin: 0 auto 8px auto;
}

.preferential-voting-vote-recap__preference-level__title {
  font-weight: bold;
  margin-bottom: 2px;
}

.preferential-voting-vote-recap__preference-level__candidates {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 6px auto 0 auto;
}

.preferential-voting-vote-recap__candidate {
  background: #eee;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.classic-vote-recap:last-child {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* TODO: rework namings of classes and move each one to relevant .css file. Or maybe is it best to have CSS rules of all descendents of WholeVoteRecap regrouped in this file? */

.whole-vote-recap__question-title {
  margin-top: 2px;
  margin-bottom: 10px;
}

.majority-judgment-vote-recap__answers-to-question,
.classic-vote-recap__answers-to-question {
  padding: 15px 40px;
  margin: 10px 0 20px 0;
}

.majority-judgment-vote-recap__answers-to-question:last-child,
.classic-vote-recap__answers-to-question:last-child {
  margin-bottom: 5px;
}

.classic-vote-recap__answers-to-question {
  list-style-type: none;
  padding: 0;
  margin: 14px auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  font-size: 12px;
}

.classic-vote-recap__answers-to-question li {
  background: #eee;
  border-radius: 6px;
  padding: 5px 10px;
  margin-bottom: 4px;
}

.majority-judgment-vote-recap-for-candidate-big {
  --border-radius-size: 8px;
  --padding-size: 5px;
  display: flex;
  align-items: center;
  background: #eee;
  border-radius: var(--border-radius-size);
  margin-bottom: 12px;
  font-size: 12px;
}

.majority-judgment-vote-recap-for-candidate-big__candidate-name {
  padding: var(--padding-size) 12px;
  border-right: 3px solid white;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.majority-judgment-vote-recap-for-candidate-big__selected-grade {
  background-color: var(--majority-judgment-selected-grade-color);
  border-radius: 0 var(--border-radius-size) var(--border-radius-size) 0;
  padding: var(--padding-size);
  color: white;
  font-weight: bold;
  width: 25%;
  min-width: 25%;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.majority-judgment-vote-recap-for-candidate-small {
  margin: 0 auto 16px auto;
  max-width: 300px;
  text-align: center;
  --border-radius-size: 8px;
}

.majority-judgment-vote-recap-for-candidate-small__candidate-name {
  background: #eee;
  border-radius: var(--border-radius-size) var(--border-radius-size) 0 0;
  padding: 10px;
  margin-bottom: 2px;
}

.majority-judgment-vote-recap-for-candidate-small__selected-grade {
  border-radius: 0 0 var(--border-radius-size) var(--border-radius-size);
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: var(--selected-grade-color);
}
