.ballot {
  padding: 6px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}
.ballot-filtered {
  opacity: 0.3;
}

.ballot__table td {
  padding-left: 6px;
}

.ballot__raw_data {
  text-align: right;
  padding: 10px;
}
.ballot__raw_data a {
  font-size: small;
}

.ballot__code-table-hidden {
  display: none;
}
.ballot__mask-button {
  margin-bottom: 6px;
}

.ballot__text {
  background: #e0e0e0;
  /* height: 24px; */
  border-radius: 6px;
  padding: 5px 6px;
}
.ballot__code {
  text-align: center;
  width: 30px;
  border-radius: 6px;
  padding: 2px 3px;
}
.ballot__code-masked {
  background: #e0e0e0;
  height: 24px;
}
.ballot__code-a-0 {
  background: #ffecb3;
  font-variation-settings:
    "FILL" 0,
    "wght" 200;
}
.ballot__code-a-1 {
  background: #c8e6c9;
  font-variation-settings:
    "FILL" 1,
    "wght" 200;
}
.ballot__code-b-1 {
  background: #ffcdd2;
  font-variation-settings:
    "FILL" 0,
    "wght" 200;
}
.ballot__code-b-0 {
  background: #bbdefb;
  font-variation-settings:
    "FILL" 1,
    "wght" 200;
}

.ballot__code-symbol {
  vertical-align: middle;
}
