/* UI Components try to respect [BEM](http://getbem.com/naming/) for the naming of their CSS classes */
@import "./components/PageHeader.css";
@import "./components/Progress.css";
@import "./components/InputCredentialSection.css";
@import "./components/CandidateWithCheckbox.css";
@import "./components/ClassicVoteCandidatesList.css";
@import "./components/QuestionWithVotableAnswers.css";
@import "./components/PageFooter.css";
@import "./components/VoteNavigation.css";
@import "./components/NiceButton.css";
@import "./components/NiceInput.css";
@import "./components/LoadingSpinner.css";
@import "./components/WholeVoteRecap.css";
@import "./components/ReviewEncryptSection.css";
@import "./components/MajorityJudgmentVoteBigCandidatesList.css";
@import "./components/MajorityJudgmentVoteSmallCandidatesList.css";
@import "./components/PreferentialVotingCandidatesList.css";
@import "./components/PreferentialVotingWithoutEqualityColumn.css";
@import "./components/SelectAuditCodesQuestion.css";
@import "./components/SelectAuditCodesSection.css";
@import "./select-css.css";

body {
  background: #e5e4e2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  line-height: initial;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", arial, serif;
}

@media screen and (max-width: 640px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 640px) {
  body {
    margin: 8px;
  }
}

input[type="password"],
input[type="text"] {
  font-size: 16px; /* this prevents Iphone browser from zooming in */
}

@supports (-webkit-touch-callout: none) {
  select {
    font-size: 16px; /* this prevents Iphone browser from zooming in */
  }
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.page-body {
  background: #fafafa;
}

.markup-b {
  font-weight: bold;
}
.markup-i {
  font-style: italic;
}
.markup-error {
  color: red;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(../../material-symbols.woff2) format("woff2");
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
